<ul>
  <% if ::Refinery::Migrates::Admin::MigratesController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.migrates_admin_migrates_path %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), refinery.new_migrates_admin_migrate_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? && ::Refinery::Migrates::Admin::MigratesController.sortable? && ::Refinery::Migrates::Migrate.any? %>
  <li>
    <%= link_to t('.reorder', :what => "Migrates"),
                 refinery.migrates_admin_migrates_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Migrates"),
                 refinery.migrates_admin_migrates_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>
