<section id='records'>
  <%= render 'records' %>
</section>
<aside id='actions'>
  <%= render 'actions' %>
</aside>
<%= render '/refinery/admin/make_sortable', :tree => false if !searching? and ::Refinery::Migrates::Admin::MigratesController.sortable? and ::Refinery::Migrates::Migrate.count > 1 %>
